.header{
    box-shadow: 0 15px 40px -20px rgba(40,44,63,.15);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background: #fff;
    z-index: 1000;
    will-change: transform;
    transform: translateZ(0);
    transition: transform .3s ease;
    contain: size layout style;
    padding: 0 20px;  
    display: flex;
    justify-content: space-between;
}
.nav-items{
    padding: 0px 25px;
    display: flex;
    justify-content: center;
    align-items: center
}

.nav-items>ul{
    -ms-flex: 1;
    flex: 1;
    min-width: 0;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -ms-flex-align: center;
    align-items: center;
    list-style: none;
}
.nav-items>ul>li{
    margin:5px;
    padding:5px;
}
.logo{
    width: 90px;
     height: 80px;
}
.login{
    padding:0 20px;
    cursor: pointer;
}
.link-cls{
    text-decoration:none;
}
.appname{
     position: absolute;
    top: 2rem;
    padding-left: 1rem;
}
.round{
    width: 15px;
    height: 15px;
    border-radius: 100%;
}
.green{
    background-color: green;
    border-color: green;
}
.red{
    background-color: red;
    border-color: red;
}